@import url('normalize.css');

body{
	font-family: 'Lato', Arial, serif;
	font-weight: 300;
	font-size: 18px;
	color: #000;
	-webkit-font-smoothing: antialiased;
}
svg {
	margin-left: 20px;
}
.axis--x path {
	display: none;
}

.line {
	fill: none;
	stroke-width: 2.5px;
}
.area {
	opacity: 0.95;
}
a {
	color: #555;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.container {
	width: 100%;
	position: relative;
}
.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.container > header {
	margin: 10px;
	padding: 20px 10px 10px 10px;
}
.container > header h1{
	text-align: center;
	font-size: 30px;
	line-height: 32px;
	margin: 0;
	position: relative;
	font-weight: 600;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

.container > header div {
	max-width: 800px;
	text-align: left;
	margin: 0 auto;
	padding: 15px 0 5px 0;
	/* color: #000; */
}

#chart-container {
	width: 1200px;
	margin: 0 auto 50px auto;
	background: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	padding: 20px 30px;
}

#chart-container h2 {
	color: #444;
	font-weight: 700;
	padding: 20px 0px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 24px;
}

#citations ul {
	margin-left: 25px;
	padding: 15px;
	background-color: rgba(182, 153, 209, 0.25);
	list-style-type: none;
	font-weight: 400;
}

#citations ul li {
	margin-bottom: 5px;
}

svg#line-chart {
	font-family: 'Lato', Arial, serif;
	font-size: 12px;
	font-weight: 700;
}

g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

g.context g.axis path {
	stroke-opacity: 0;
}

g.context g.axis line {
	stroke-opacity: .1;
}

.axis path, .axis line {
	/* fill: none;
	stroke: #aaa; */
	shape-rendering: crispEdges;
}
g.markYear path.area {
	opacity: 0.75;
}

.brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}​

/* BAR CHART */
div#bar-chart {
	margin-bottom: 50px;
}
div#chart-container div p {
	margin: 10px;
}

text.title{
  font-size: 24px;
  font-weight: 500;
}
text.subTitle{
	font-size: 18px;
	font-weight: 500;
	fill: #272626;
}
text.caption{
	font-weight: 400;
	font-size: 14px;
	fill: #777777;
}
text.currentYear{
	font-weight: 400;
	font-size: 16px;
	fill: #0f0f0f;
}
text.label{
	font-weight: 600;
}

text.valueLabel{
	font-weight: 300;
}

text.weekText{
	font-size: 64px;
	font-weight: 700;
	opacity: 0.25;
}
.tick text {
	fill: #777777;
}
.xAxis .tick:nth-child(2) text {
	text-anchor: start;
}
.tick line {
	shape-rendering: CrispEdges;
	stroke: #dddddd;
}
.tick line.origin{
	stroke: #aaaaaa;
}
path.domain{
	display: none;
}

/* -----------------------------------------------------------------------------

  TABLE

----------------------------------------------------------------------------- */
table {
  background: #FFF;
}
table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"]{display:table-cell;text-align:center;margin-left:0;}
.table {width:60%;border-top: 2px;border-bottom: 2px;}
.table td.fifteen,.table th.fifteen{float:none;width:15%;padding:3px;}
.table td.difficulties,.table th.difficulties{float:none;width:10%;padding:3px;text-align:center;font-size:1.1em;}
.table td.twenty,.table th.twenty{float:none;width:20%;padding:3px;}
.table td.thirty,.table th.thirty{float:none;width:30%;padding:3px;}
.table td.forty,.table th.forty{float:none;width:40%;padding:3px;}
.table td.fifty,.table th.fifty{float:none;width:50%;padding:3px}
.table td.sixty,.table th.sixty{float:none;width:60%;padding:3px}
.table td.seventy,.table th.seventy{float:none;width:70%;padding:3px}
.table tr.hundred,td.hundred,.table th.hundred{float:none;width:100%;padding:3px}
.table tr > td:nth-child(even) {text-align: center;}
.table tr > th:nth-child(odd) {text-align: left;}
.table tr > th {font-size: 1.1em;padding-bottom: 3px; color: #333;}
.table tr > th small {font-size: 0.8em;}
.table td { font-weight: 500; }
.striped tbody tr:nth-child(odd) td,.striped tbody tr:nth-child(odd) th{background-color:rgba(148,103,189,0.64);}
ul.tables{margin-left: 3px;list-style-type: none;}
ul.tables > li {margin-bottom: 20px;}

/* JOB WiKI */
#job-wiki figure img {
	width: 100%
}

footer {
	background-color: rgba(182, 153, 209, 0.25);
	margin-top: 50px;
	padding: 50px 0px;
}
footer h3 {
	margin-left: 15px;
}
