@import url('normalize.css');

body{
	font-family: 'Lato', Arial, serif;
	font-weight: 300;
	font-size: 18px;
	color: #000;
	-webkit-font-smoothing: antialiased;
}
svg {
	margin-left: 20px;
}
.axis--x path {
	display: none;
}

.line {
	fill: none;
	stroke-width: 2.5px;
}
.area {
	opacity: 0.95;
}
a {
	color: #555;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.container {
	width: 100%;
	position: relative;
}
.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
/* main {
	width: 100%;
	margin: 0 auto;
	position: relative;
} */
main {
	width: 1200px;
  margin: 0 auto 50px auto;
  background: rgba(255,255,255,0.5);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  padding: 20px 30px;
}
.container > header {
	margin: 10px;
	padding: 20px 10px 10px 10px;
}
.container > header h1 {
	text-align: center;
	font-size: 30px;
	line-height: 32px;
	margin: 0;
	position: relative;
	font-weight: 600;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

.container > header div {
	max-width: 800px;
	text-align: left;
	margin: 0 auto;
	padding: 15px 0 5px 0;
}

article > section {
	padding: 1em;
}

#chart-container h2 {
	font-weight: 700;
	padding: 20px 0px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 24px;
}

#citations ul {
	margin-left: 25px;
	padding: 15px;
	background-color: rgba(182, 153, 209, 0.25);
	list-style-type: none;
	font-weight: 400;
}

#citations ul li {
	margin-bottom: 5px;
}

svg#line-chart {
	font-family: 'Lato', Arial, serif;
	font-size: 12px;
	font-weight: 700;
}

g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

g.context g.axis path {
	stroke-opacity: 0;
}

g.context g.axis line {
	stroke-opacity: .1;
}

.axis path, .axis line {
	/* fill: none;
	stroke: #aaa; */
	shape-rendering: crispEdges;
}
g.markYear path.area {
	opacity: 0.75;
}

.brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}​

/* BAR CHART */
#bar-chart {
	margin-bottom: 50px;
}
#chart-container div p {
	margin: 10px;
}

text.title{
  font-size: 24px;
  font-weight: 500;
}
text.subTitle{
	font-size: 18px;
	font-weight: 500;
	fill: #272626;
}
text.caption{
	font-weight: 400;
	font-size: 14px;
	fill: #777777;
}
text.currentYear{
	font-weight: 400;
	font-size: 16px;
	fill: #0f0f0f;
}
text.label{
	font-weight: 600;
}

text.valueLabel{
	font-weight: 300;
}

text.weekText{
	font-size: 64px;
	font-weight: 700;
	opacity: 0.25;
}
.tick text {
	fill: #777777;
}
.xAxis .tick:nth-child(2) text {
	text-anchor: start;
}
.tick line {
	shape-rendering: CrispEdges;
	stroke: #dddddd;
}
.tick line.origin{
	stroke: #aaaaaa;
}
path.domain{
	display: none;
}

/* average posts per week line */
#avg-posts-per-week {
	position: relative;
}

#avg-posts-per-week .line {
    fill: none;
    stroke: #af9358;
    stroke-width: 2;
}

#avg-posts-per-week .y-axis-label {
    fill: black;
    font-size: 1.4em;
    text-anchor: middle;
    transform: rotate(-90deg);
}

#avg-posts-per-week .listening-rect {
    fill: transparent;
}

#avg-posts-per-week .tooltip {
    opacity: 0;
    position: absolute;
    top: -14px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: left;
    line-height: 1.4em;
    font-size: 0.9em;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.1s ease-out;
    pointer-events: none;
}

#avg-posts-per-week .tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

#avg-posts-per-week .tooltip-week {
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.4em;
}

/* -----------------------------------------------------------------------------

  TABLE

----------------------------------------------------------------------------- */
.table {
  background: #ffffff;
	max-width: 700px;
	border-top: 2px;
	border-bottom: 2px;
	font-weight: 600;

	&.striped tbody tr:nth-child(odd) td,.striped tbody tr:nth-child(odd) th{background-color:rgba(148,103,189,0.5);}

	& th {
		font-size: 1.1rem;
	}
	& td {
		font-size: 1rem;
	}

	& td[class*="span"], th[class*="span"] {
		display:table-cell;
		text-align:center;
		margin-left:0;
	}

	& .fifteen {float: none;width: 15%;padding: 3px;}
	& .twenty{float:none;width:20%;padding:3px;}
	& .thirty{float:none;width:30%;padding:3px;}
	& .forty{float:none;width:40%;padding:3px;}
	& .fifty{float:none;width:50%;padding:3px;}
	& .sixty{float:none;width:60%;padding:3px;}
	& .seventy{float:none;width:70%;padding:3px;}
	& .hundred{float:none;width:100%;padding:3px;}

	& .difficulties {
		float:none;
		width:10%;
		padding:3px;
		text-align:center;
		font-size:1.1em;
	}

}

.table tr > td {text-align: center;}
.table tr > th:nth-child(odd) {text-align: left;}
.table tr > th {font-size: 1.1em;padding-bottom: 3px; color: #333;}
.table tr > th small {font-size: 0.8em;}
ul.tables{margin-left: 3px;list-style-type: none;}
ul.tables > li {margin-bottom: 20px;}

/* JOB WiKI */
#job-wiki figure img {
	width: 100%
}

footer {
	background-color: rgba(182, 153, 209, 0.25);
	margin-top: 50px;
	padding: 50px 0px;
}
footer h3 {
	margin-left: 15px;
}
