@import url('normalize.css');

body{
	font-family: 'Lato', Arial, serif;
	background: #ddd url(../images/bg.jpg) repeat top left;
	font-weight: 300;
	font-size: 14px;
	color: #000;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 30px;
	line-height: 32px;
	margin: 0;
	position: relative;
	font-weight: 600;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header p{
	margin: 0;
	padding: 15px 0 5px 0;
	color: #000;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

#chart-container {
	width: 1200px; 
	margin: 0 auto 50px auto;
	background: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	padding: 20px 30px;
}

#chart-container h2 {
	color: #444;
	margin: 0 0 10px;
	font-weight: 300;
	padding: 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 24px;
}

svg {
	font-family: 'Lato', Arial, serif;
	font-size: 10px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

g.context g.axis path {
	stroke-opacity: 0;
}

g.context g.axis line {
	stroke-opacity: .1;
}

.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}​

/* -----------------------------------------------------------------------------

  TABLE
  
----------------------------------------------------------------------------- */
table {
  background: #FFF;
}
table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"]{display:table-cell;text-align:center;margin-left:0;}
.table {width:60%;border-top: 2px;border-bottom: 2px;}
.table td.fifteen,.table th.fifteen{float:none;width:15%;padding:3px;}
.table td.difficulties,.table th.difficulties{float:none;width:10%;padding:3px;text-align:center;font-size:1.1em;}
.table td.twenty,.table th.twenty{float:none;width:20%;padding:3px;}
.table td.thirty,.table th.thirty{float:none;width:30%;padding:3px;}
.table td.forty,.table th.forty{float:none;width:40%;padding:3px;}
.table td.fifty,.table th.fifty{float:none;width:50%;padding:3px}
.table td.sixty,.table th.sixty{float:none;width:60%;padding:3px}
.table td.seventy,.table th.seventy{float:none;width:70%;padding:3px}
.table tr.hundred,td.hundred,.table th.hundred{float:none;width:100%;padding:3px}
.table tr > td:nth-child(even) {text-align: center;}
.table tr > th:nth-child(odd) {text-align: left;}
.table tr > th {font-size: 1.1em;padding-bottom: 3px; color: #333;}
.table tr > th small {font-size: 0.8em;}
.table td { font-weight: 500; }
.striped tbody tr:nth-child(odd) td,.striped tbody tr:nth-child(odd) th{background-color:rgba(148,103,189,0.64);}
ul.tables{margin-left: 3px;list-style-type: none;}
ul.tables > li {margin-bottom: 20px;}